body{
    background-color: white;
    color: black;
}

.left{
    float: left;
    width: 30%;
    height: 970px;
    min-width: 30rem;
}

.right{
    float: left;
    height: 970px; 
    min-width: 70%;
}

#firstName{
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 0%;
}

#secondName{
    font-size: 4em;
    font-style: italic;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 5%;
}

#type{
    font-size: 30px;
    font-weight: 400;
    margin-left: 2%;
}

.info{
    font-size: 20px;
    margin-left: 2%;
}

.date{
    font-style: italic;
}

hr{
    margin-right: 15%;
    margin-left: 2%;
}

img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: auto;

}

.description{
    font-size: 15px;
    font-weight: 500;
    margin-top: 4%;
    margin-left: 24%;
    margin-right: auto;
    display: inline-block;
    padding: 13px;
    padding-left: 10%;
    padding-right: 10%;
}

.emoji{
    font-size: 17px;
    padding-left: 10%;
}

.leftInfo{
    padding-left: 10%;
    font-size: 17px;
}

.theme-button{
    background-color:#EDEADE;
    border: none;
    border-radius: 15px;
    padding: 12px 22px;
    transition-duration: 0.4s;
    float: right;
    box-shadow: 0 5px #9f9b9b;
}

.theme-button:hover{
    background-color: #28282B;
    color: #EDEADE;
}

.theme-button:active{
  background-color: #28282B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.theme{
    background-color: #28282B;
    color: #EDEADE;
}