body, p, ul {
	margin: 0;
	padding: 0;
  }
  
#title {
	font-size: 30px;
	font-weight: 900;
	color: white;
	margin: 0px 32rem;
}

body {
	font-family: Arial, sans-serif;
	background-color: #E0FFFF;
	text-align: center;
}
#together{
	display: flex;
	align-items: center;
	background-color: #002244;
	padding: 20px 10px;
  }

#logo img{
	width: 200px;
	border-radius: 20px;
	margin-left: 20px
}

.options{
    font-family: Arial, sans-serif;
    font-size: 80px;
    color: #002244;
}

.order-option-btn{
    height: 300px;
    width: 600px;
	background: #002244;
	color: #E0FFFF;
	border: none;
	border-radius: 20px;
	margin-top: 1rem;
    margin-right: 6%;
	font-size: 3rem;
    
}

.reserve-option-btn{
    height: 300px;
    width: 600px;
	background: #002244;
	color: #E0FFFF;
	border: none;
	border-radius: 20px;
	margin-top: 1rem;
	font-size: 3rem;
}
